page-konsumen-add {

    .form {
        margin: 20px;
        margin-bottom: 80px;
        label {
            display: block;
            font-size: 12px;
            margin-bottom: 5px;
            margin-top: 15px;
        }
        ion-input,ion-textarea {
            width: 100%;
            padding: 0px!important;
            font-size: 13px;
            border-radius: 15px;
            margin-bottom: 10px;
            border: 1px solid #D0D0D0
        }
        .select {
            // z-index: -1 !important;
            max-width: 100% !important;
            padding: 10px!important;
            font-size: 13px !important;
            border-radius: 15px !important;
            margin-bottom: 10px !important;
            border: 1px solid #D0D0D0 !important
        }
        .item-cover {
            width: 0;
            height: 0;
        }
    }
    .bottom {
        bottom: 0px;
    }

    ion-item.item-input-has-focus >.item-inner { 
        border-bottom-color: transparent !important;
        box-shadow: none !important;
            ion-input, ion-textarea, ion-datetime {
                border-color: map-get($map: $colors, $key: primary) !important
            }
    }
    ion-item.input-has-value >.item-inner, .item-select-searchable >.item-inner { 
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    ion-item {
        padding: 0px !important;
        background: transparent !important; 
        .item-inner {
            padding-right: 0px !important;
            border: 0px !important;
        }
        ion-label {
            display: none;
        }
        .input-wrapper {
            width: 100% !important;
        }
        .select-searchable {
            max-width: 100% !important;
            font-size: 13px !important;
            border-radius: 15px !important;
            padding: 10px;
            margin-bottom: 10px !important;
            border: 1px solid #D0D0D0 !important
        }
        ion-input,ion-textarea, ion-select, select-searchable {
            width: 100% !important;
            padding: 0px!important;
            font-size: 13px;
            border-radius: 15px;
            margin-bottom: 10px;
            border: 1px solid #D0D0D0
        }
        ion-textarea textarea {
            height: 100px;
        }
        ion-datetime {
            width: 100% !important;
            padding: 10px!important;
            font-size: 13px !important;
            border-radius: 15px !important;
            margin: 0px !important;
            margin-bottom: 10px !important;
            border: 1px solid #D0D0D0 !important
        }
    }
    ion-label {
        display: block;
        margin-bottom: 5px;
    }
    .gambar {
        min-height: 200px;
    }
    .btn-group {
        display: flex;
        button {
            flex: 1
        }
    }
    .result-img {
        text-align: center;
        max-width: 200px;
        border-radius: 20px;
        img {
            margin: auto
        }
    }
    .message {
        margin-top: -24px;
        label {
            color: map-get($map: $colors, $key: primary)
        }
    }
    .message-select {
        margin-top: -10px;
        label {
            color: map-get($map: $colors, $key: primary) !important;
        }
    }
    select-searchable-page {
        
    }
}
