<!--
  Generated template for the KonsumenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color='primary'>
    <ion-searchbar placeholder="Cari Konsumen" (ionInput)="onInput($event)"></ion-searchbar>
    <!-- <ion-buttons right>
        <button ion-button icon-only>
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons> -->
    </ion-navbar>
</ion-header>

<ion-content padding>
    
  <ion-fab bottom right>
        <button ion-fab (click)="goAdd()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <label *ngIf="noResult" style="color: gray;">Konsumen tidak ditermukan.</label>
    <ion-list>
      <ion-item *ngFor="let item of (result ? result:[])" (click)="goDetail(item.id)">
        <ion-avatar item-start>
          <img src="{{item.photo}}">
        </ion-avatar>
        <h2>{{item.nama_lengkap}}</h2>
        <p>Pendamping : {{item.nama_pendamping ? item.nama_pendamping:'-'}}</p>
      </ion-item>
    </ion-list>
</ion-content>
