page-login {
    .container {
        display: table;
        background: white;
        height: 100%;
        width: 100%;
        .login-page {
            margin: auto;
            display: table-cell;
            vertical-align: middle;
            background: url('../../assets/imgs/background.jpg') no-repeat;
            background-size: cover;
            background-position: center;
            background-color: rgba($color: #000000, $alpha: 0.6);
            padding: 20px;
            text-align: center;
            img {
                width: 80%;
                margin-bottom: 30px;
            }
            .input {
                margin-bottom: 20px;
                label {
                    display: block;
                    margin-bottom: 0px;
                }
                input {
                    font-size: 13px;
                    border: 1px solid #d5d5d5;
                    border-radius: 20px;
                    // border-bottom: 1px solid map-get($map: $colors, $key: dark);
                    width: 100%;
                    padding: 15px 15px 15px 15px;
                }
                input:focus {
                    border: 1.5px solid map-get($map: $colors, $key: primary);
                }
            }
            button {
                width: 100%;
                font-weight: bold;
                color: white;
                border-radius: 20px;
                padding: 15px;
                background: map-get($map: $colors, $key: primary)
            }
        }
    }
}
