
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detail Produk</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
<ion-segment [(ngModel)]="detailProduk" color="primary">
  <ion-segment-button value="detail">
    Detail
  </ion-segment-button>
  <ion-segment-button value="deskripsi">
    Deskripsi
  </ion-segment-button>
</ion-segment>

<div [ngSwitch]="detailProduk">
  <div *ngSwitchCase="'detail'">
    <div class="imageSlide">
      <ion-slides>
        <ion-slide *ngFor="let slide of (imageSlider ? imageSlider : [])">
          <img src="{{slide.url}}" style="widht: 100%"/>
        </ion-slide>
      </ion-slides>
      <div class="nama-produk">
        <h4>{{data.nama_barang}}</h4>
        <p>{{data.sku_barang}}</p>
      </div>
      <div class="info-cicilan">
        <div class="split">
          Downpayment
          <span>{{data.downpayment | currency:'Rp. ':true:'1.0'}}</span>
        </div>
        <div class="split">
          Cicilan Mulai
          <span>{{data.cicilan_bln | currency:'Rp. ':true:'1.0'}}</span>
        </div>
        <div style="clear: both"></div>
      </div> <!-- End Info-->
      <div class="divider"></div>
      <div class="list-opsi">
      <ion-list inset>
        <ion-item>
          <ion-label>Pilih Type Angsuran</ion-label>
          <ion-select (ionChange)="loadNilaiCicilan(TC.value)" #TC>
            <ion-option *ngFor="let cicilan of (typeCicilan ? typeCicilan : [])" value="{{cicilan.value}}">{{cicilan.title}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Nilai Cicilan</ion-label>
          <ion-select (ionChange)="nilaiChange(NC)" #NC>
            <ion-option
            *ngFor="let simulasi of (simulasiCicilan ? simulasiCicilan : [])"
            value="{{simulasi.key}}|{{simulasi.name}}">
              {{simulasi.name}} - ({{simulasi.key}})
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <div class="kalkulasi" *ngIf="kalkulasi.simulasi_cicilan.length > 0">
        <div class="divider">Kalkulasi</div>
        <ion-list inset>
          <ion-item *ngFor="let item of kalkulasi.simulasi_cicilan">
            {{item.label}}
            <span item-end>{{item.nilai | currency:'Rp. ':true:'1.0'}}</span>
          </ion-item>
          <ion-item>
            Downpayment
            <span item-end>{{kalkulasi.dp | currency:'Rp. ':true:'1.0'}}</span>
          </ion-item>
          <ion-item>
            Total
            <span item-end>{{kalkulasi.total | currency:'Rp. ':true:'1.0'}}</span>
          </ion-item>
        </ion-list>
        <button (click)="tambahKeranjang()" ion-button class="btn btn-primary btn-block">Tambah ke Keranjang</button>
      </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'deskripsi'">
    {{data.deskripsi}}
  </div>
</div>

</ion-content>
