page-berita {
    ion-content {
        // background: $grayBg !important;
    }
    .berita {
        padding: 20px;
        .berita-list-container {
            padding: 10px;
            border: 1px solid rgb(221, 221, 221);
            .image {
                width: 100%;
                flex: 1
            }
            .description {
                flex: 1
            }
        }
    }
}
