page-menu {
    ion-menu {
        p {
            border-bottom: 1px solid map-get($map: $colors, $key: primary);
            padding: 10px;
            padding-left: 20px;
            font-size: 18px;
        }
        ion-list:after {
            margin: 0px;
        }
        p:active {
            color: white;
            background: map-get($map: $colors, $key: primary);
            padding-left: 30px;
            animation: 1000
        }
    }
}


    .services {
        padding-top: 30px !important;
        ion-grid {
            ion-row {
                text-align: left;
                ion-col {
                    padding: 2px;
                    div {
                        background: white;
                        border-radius: 3px;
                        border: 1px solid #f0f0f0;
                        height: 80px;
                        width: 100%;
                        padding: 2px;
                        box-shadow: 2px 2px 10px #cccccc;
                        display: table;
                        caption {
                            vertical-align: middle;
                            display: table-cell;
                            text-align: center;
                            line-height: 12px;
                            span {
                                padding: 5px;
                                font-size: 9px;
                            }
                            img {
                                margin: auto;
                                color: map-get($map: $colors, $key: primary);
                                display: block;
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }
    }

