page-bantuan {
    ion-content {
        background: #ebebeb !important;
    }
    .bantuan-video {
        background: white;
        box-shadow: 5px 5px 10px #ddd;
        .iframe {
            border: 1px solid #dedede;

            border-radius: 20px;
            -webkit-border-radius: 10px 10px 0px 0px;
            -o-border-radius: 10px 10px 0px 0px;
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 200px;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
        border-radius: 10px 10px 10px 10px;
        border: 1px solid #dedede;
        span {
            display: block;
            text-align: center;
            font-size: 15px;
            margin: 20px;
            color: black
        }
    }
}
