<ion-header no-border>

  <ion-navbar color="primary">
    <ion-searchbar placeholder="Cari Barang" [(ngModel)]="fillSearch" (search)="onEnterSearch()"></ion-searchbar>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div id="listBarang">
    <div class="divider">Total Produk : {{listProduk.length}}</div>
    <div class="text-center" *ngIf="!listProduk.length">
      <span class="text-gray">Tidak ada barang.</span>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let item of (listProduk ? listProduk : [])" (click)="getDetail(item.id)">
          <div class="body-produk">
            <div class="image">
              <img src="{{item.image}}" width="100%"/>
              <span>{{item.kondisi_barang}}</span>
            </div>
            <div class="info">
              <h5>{{item.nama_barang}}</h5>
              <label>Downpayment:</label>
              <span>{{item.downpayment | currency: "Rp. ":false:"1.0"}}</span>
              <label>CIcilan:</label>
              <span>{{item.cicilan_bln | currency: "Rp. ":false:"1.0"}}</span>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
