page-account {
    
    background: rgb(206, 206, 206);
    .container {
        max-width: 400px;
    }
     #pengguna-header {
        height: 90px;
        background: map-get($map: $colors, $key: primary);
        text-align: center;
        color: white;
        font-size: 12px;
        padding: 20px;
        h4 {
            margin: 0px;
            font-size: 14px;
            color: white;
        }
    }
    #pengguna-list {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;

        background: white;
        width: 90%;
        border: 1px solid #d1d1d1;
        border-radius: 10px;
        padding: 20px;
        p {
            border-bottom: 1px solid #d1d1d1;
            padding: 10px;
            padding-left: 0px;
            
            label {
                font-weight: bold;
                margin-bottom: 2px;
                font-size: 12px;
                display: block;
            }
            span {
                font-size: 14px;
            }

        }
    }
    #pengguna-body {
        .content {
            margin: auto;
            margin-top: -30px;
            background: white;
            width: 90%;
            border: 1px solid #d1d1d1;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            .image {
                width: 100px;
                height: 100px;
                margin: auto;
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid map-get($map: $colors, $key: primary);
                position: relative;
                img {
                    margin: auto;
                }
            }
        }
    }
    #logout {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        button {
            border-radius: 10px;
            color: white;
            padding: 10px;
            width: 100%;
            background: map-get($map: $colors, $key: primary);
        }
    }

}
