
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detail {{type_personal}}</ion-title>
    <ion-buttons right>
        <button ion-button icon-only (click)="close()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="header-detail">
        <div class="photo">
            <img src="https://via.placeholder.com/300x300" />
        </div>
        <div class="info">
            <p>
                <label>Nama Lengkap</label>
                <span>{{data ? data.personal.nama_lengkap:''}}</span>
            </p>
            <!-- <p>
                <label>Tanggal Lahir</label>
                <span>{{data ? formatDate(data.personal.tgl_lahir):''}}</span>
            </p> -->
            <p>
                <label>Umur</label>
                <span>{{data ? getUmur(data.personal.tgl_lahir):''}}</span>
            </p>
        </div>
    </div>
    <div class="segment">
        <span [ngClass]="segment == -1 ? 'active':''" (click)="getSeg(-1)">
            <ion-icon name="contact"></ion-icon>
            Personal
        </span>
        <span [ngClass]="segment == 0 ? 'active':''" (click)="getSeg(0)">
            <ion-icon name="pin"></ion-icon>
            Alamat
        </span>
        <span [ngClass]="segment == 1 ? 'active':''" (click)="getSeg(1)">
            <ion-icon name="contacts"></ion-icon>
            Keluarga
        </span>
        <span [ngClass]="segment == 2 ? 'active':''" (click)="getSeg(2)">
            <ion-icon name="briefcase"></ion-icon>
            Pekerjaan
        </span>
        <span [ngClass]="segment == 3 ? 'active':''" (click)="getSeg(3)">
            <ion-icon name="school"></ion-icon>
            Pendidikan
        </span>
        <span [ngClass]="segment == 4 ? 'active':''" (click)="getSeg(4)">
            <ion-icon name="document"></ion-icon>
            File & Dokumen
        </span>
    </div>
    <div class="personl-body" *ngIf="segment == -1">
        <ion-list>
            <ion-item>
                <label>No KTP</label>
                <p>{{data ? data.personal.no_ktp:''}}</p>
            </ion-item>
            <ion-item>
                <label>Nama Lengkap</label>
                <p>{{data ? data.personal.nama_lengkap+' ('+data.personal.nama_panggilan+')':''}}</p>
            </ion-item>
            <ion-item>
                <label>Tempat, Tanggal Lahir</label>
                <p>{{data ? data.personal.tempat_lahir+', '+formatDate(data.personal.tgl_lahir):''}}</p>
            </ion-item>
            <ion-item>
                <label>Jenis Kelamin</label>
                <p>{{data ? data.personal.jenis_kelamin_id:''}}</p>
            </ion-item>
            <ion-item>
                <label>Agama</label>
                <p>{{data ? data.personal.agama_id:''}}</p>
            </ion-item>
            <ion-item>
                <label>Kewarganegaraan</label>
                <p>{{data ? data.personal.kewarganegaraan_id:''}}</p>
            </ion-item>
            <ion-item>
                <label>Daerah Asal/ Suku</label>
                <p>{{data ? data.personal.daerahasal_suku:''}}</p>
            </ion-item>
            <ion-item>
                <label>Golongan Darah</label>
                <p>{{data ? data.personal.golongan_darah_id:''}}</p>
            </ion-item>
        </ion-list>
        <div class="divider">Kontak</div>
        <ion-list>
            <ion-item>
                <label>No Handphone</label>
                <p>{{data ? data.personal.telepon_1:''}}</p>
            </ion-item>
            <ion-item>
                <label>Email</label>
                <p>{{data ? data.personal.email_1:''}}</p>
            </ion-item>
        </ion-list>
    </div>
    <div class="personl-body" *ngIf="segment == 0">
        Alamat
    </div>
    <div class="personl-body" *ngIf="segment == 1">
        Keluarga
    </div>
    <div class="personl-body" *ngIf="segment == 2">
        Perkerjaan
    </div>
    <div class="personl-body" *ngIf="segment == 3">
        Pendidikan
    </div>
    <div class="personl-body" *ngIf="segment == 4">
        File & Dokumen
    </div>
</ion-content>